@import "tailwindcss";

@font-face {
    font-family: "IBM Plex Sans";
    src: url("./assets/ibmplexlight.woff2") format("woff2");
}

body,
#root {
    @apply bg-[var(--background-color)] text-[var(--text-color)];
    @apply text-[var(--ui-font-size)] leading-[var(--ui-line-height)];
    font-family: var(--ui-font-family);
}

.e {
    font-family: var(--editor-font-family);
}

button {
    cursor: pointer;
}

:not(.c):not(.e):not(svg):not(path):not(stroke-path) {
    @apply text-[var(--text-color)];
    font-family: var(--ui-font-family);
}

.nice {
    @apply flex items-center gap-1 cursor-pointer rounded hover:bg-(--background-color) px-1 py-0.5 transition-colors;
}

.s::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.s::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1px;
}

.s::-webkit-scrollbar-thumb {
    background: var(--background-accent-color);
    border-radius: 1px;
    border: 2px solid transparent;
    background-clip: content-box;
    transition: background-color 0.2s ease;
}

.s::-webkit-scrollbar-thumb:hover {
    background: var(--token-functions);
    background-clip: content-box;
}

.s::-webkit-scrollbar-thumb:active {
    background: var(--text-color);
    background-clip: content-box;
}

.s::-webkit-scrollbar-corner {
    background: transparent;
}

.scroll-thin {
    scrollbar-width: thin;
    scrollbar-color: var(--background-accent-color) transparent;
}

:not(.s) {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
:not(.s)::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

#root,
html,
body,
.full {
    @apply w-full h-full;
}

.editor-styling {
    @apply bg-[var(--background-color)];
    @apply font-[var(--editor-font-family)] text-[var(--editor-font-size)] leading-[var(--editor-line-height)];
}

@theme {
    --token-types: var(--token-types);
    --token-numbers: var(--token-numbers);
    --token-strings: var(--token-strings);
    --token-comments: var(--token-comments);
    --token-keywords: var(--token-keywords);
    --token-functions: var(--token-functions);
    --token-variables: var(--token-variables);
    --token-untokenized: var(--token-untokenized);

    --background-color: var(--background-color);
    --background-secondary-color: var(--background-secondary-color);
    --background-accent-color: var(--background-accent-color);
    --text-color: var(--text-color);

    --editor-font-family: var(--editor-font-family);
    --editor-font-size: var(--editor-font-size);
    --editor-line-height: var(--editor-line-height);

    --ui-font-family: var(--ui-font-family);
    --ui-font-size: var(--ui-font-size);
    --ui-line-height: var(--ui-line-height);
}

.fine-border {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}